<!DOCTYPE html>
<html>
     <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif; 
            margin:0;
            height: 758px;
            background-image: linear-gradient(white,skyblue);
            /*background-color: #7eaefc;*/
            background-repeat:no-repeat;
        }
        .tnav {
          overflow: hidden;
          background-color: black;
       }
        
        .tnav a {
            float: left;
            color: white;
            text-align: center;
            padding: 20px 20px;
            text-decoration: none;
            font-size: 20px;
        }
        
        .tnav p{
            color: black;
            font-size: 30px;
            padding:  6px 6px 6px 32px;
        }

       .tnav a:hover {
            color: white;
            background-color:grey;
         }

         #demo{
            text-align: center;
            font-size: 25px;
            padding-top: 15px;

         }
     
    </style>
    <body>
        <div class="tnav">
            <a href="adminhome">Home</a>
            <a href="staffs">Staff</a>
            <a href="assigntask">Assign Tasks</a>
            <a href="info">Info</a>
            <a href="adminlogin" style="float:right" >Logout</a>
        </div> 


        <p id="demo"> <b> Wait Retrieving Information From the server ... <b></p>
        
       
    </body>
</html>